@media (max-width: 500px) {
  * {
    overflow-x: hidden;
  }
  .main-navbar {
    width: 100%;
    height: 100px;
    /* background-color: black; */
    display: flex;
    align-items: flex-start;
  }
  .subnav {
    width: 100%;
    height: 100px;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .img-searchbar {
    overflow: hidden;
  }
  .login-div {
    overflow: hidden;
    background-color: rgb(255, 219, 219);
    width: 100%;
  }
  .nav-logo {
    width: 100px;
    height: 150px;
  }
  .dropbtn {
    /* display: none; */
    width: 130px;
    /* background-color: aqua; */
  }
  .Searchbar {
    display: none;
  }

  .frst-body {
    width: 100%;
    height: 300px;
    /* background-color: aqua; */
  }
  .frst-body-img {
    width: 330px;
    height: 170px;
    box-shadow: 0 0 5px gray;
  }
  .login-link{
    font-size: 10px;
  }







  .second-body {
    width: 100%;
    height: 700px;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
  }
  .second-text-div {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 70px;
    /* background-color: rgb(241, 151, 32); */
    justify-content: center;
    align-items: center;
  }
  .second-text {
    align-items: center;
    overflow: hidden;
    font-size: 26px;
    display: flex;
    height: 40px;
    justify-content: center;
    /* background-color: aqua; */
    text-align: center;
    margin-top: 10px;
  }
  .second-subtext {
    align-items: center;
    overflow: hidden;
    font-size: 13px;
  }
  .card-div {
    /* background-color: rgb(189, 216, 216); */
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;

    overflow: hidden;
  }
  .card-row {
    width: 100%;
    overflow: hidden;
  }
  .second-card {
    width: 130px;
    height: 140px;
    /* background-color: blueviolet; */
    overflow: hidden;
  }
  .card-img {
    width: 3px;
    height: 120px;
    overflow: hidden;
  }






  .offer-div {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    /* background-color: blue; */
  }
  .offer-subdiv {
    width: 100%;
    /* background-color: aqua; */
    margin-left: 0;
    display: flex;
    align-items: center;
  }
  .offer-img {
    width: 170px;
    height: 110px;
    box-shadow: 0 0 5px gray;
  }







  .third-div {
    width: 100%;
    height: 500px;
    /* background-color: aquamarine; */
    overflow: hidden;
  
  }
  .thrd-subdiv {
    width: 100%;
    height: 520px;
    /* background-color: aliceblue; */
    overflow: hidden;
    text-align: center;
  }
  .thrd-carddiv {
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    /* background-color: rgb(186, 186, 255); */
  }
  .thrd-cardrow{
    width: 100%;
    height: 200px;
    /* background-color: beige; */
    overflow: hidden;

  }
  .thrd-cardrow1{
    width: 80%;
    display: flex;
    justify-content: space-around;
  }
  .thrd-card {
    width: 115px;
    height: 200px;
    overflow: hidden;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid rgb(240, 236, 236);
    border-radius: 10px;
    /* box-shadow: 0 0 1px gray; */
  }
  .thrd-cardimg{
    width: 115px;
    height: 80px;
    border-radius: 10px;
    overflow: hidden;
   
  }
  .thrd-cardtext{
    font-size: 10px;
    overflow: hidden;
    text-align: left;
  }
  .card-gms{
    overflow: hidden;
    font-size:8px ;
  }
  .card-rate{
    overflow: hidden;
    font-size: 13px;
  }
  .card-time{
    overflow: hidden;
    font-size: 9px;
  }






  .forth-div{
    width: 100%;
    height: 300px;
    /* background-color: aqua; */
  }
  .forth-texdiv{
    width: 100%;
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
  .forth-carddiv{
    width: 100%;
    height: 200px;
    /* background-color: burlywood; */
    margin-right: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;

  }
  .forth-cardimg{
    width: 150px;
    height: 180px;
    border-radius: 5px;
  }






  .review-div{
    width: 100%;
    height: 260px;
    overflow: hidden;
    background-color:  rgb(241, 255, 250);
    display: flex;
    justify-content: space-around;
  }
  .review-subdiv{
    width: 100%;
  }
  .border-box{
    border-width: 1px solid red;
  }
  .review-box{
    width: 32%;
    height: 250px;
    overflow: hidden;
    text-align: start;
    border: 1px solid rgb(255, 228, 228);
    border-radius: 5px;
    background-color: rgb(241, 255, 250);

  }
  .box-heading{
    font-size: 10px;
  }
  .box-para{
    font-size: 9px;
  }





  .footer{
    width: 100%;
    /* background-color: aquamarine; */
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .sub-footer{
    width: 100%;
  }
  .footer-div1{
    width: 100%;
    height: 290px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: rgb(255, 255, 74); */
  }
  .footer-logo{
    width: 100px;
    height: 40px;
  }
  .footer-heading{
    font-size: 10px;
    font-weight: bold;
    overflow: hidden;
  }
  .footer-img{
    width: 60px;
    height: 30px;
  }
  .footer-imgdiv{
    width: 150px;
  }
  .footer-logodiv{
    width: 110px;
  }
  .footerlogo{
    width: 30px;
    height: 30px;
  }








  .footer-div2{
    display: none;
  }
  .sub2-div2{
    display: none;
  }
  .footer-lastdiv{
    /* display: none; */
    width: 100%;
    height: 260px;
    /* background-color: beige; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
  }
  .footer-heading{

  }
  .span-div{
    overflow: hidden;
  }
  .overflw{
    overflow: hidden;
    font-size: 10px;
  }
  .ft-span{
    font-size: 10px;
    text-align: center;
  }
  .visa-img{
    width: 140px;
  }






  .city-footer{
    display: none;
  }
  .fifth-body{
    display: none;
  }



  .last-foote{
    width: 100%;
    height: 250px;
    overflow: hidden;
  }
  .last-subfoot{
    width: 100%;
    height: 250px;
    overflow: hidden;
  }
  .last-foottext{
    font-size: 10px;
    overflow: hidden;
  }


}
